@charset "utf-8";

$widescreen-enabled: false;
$fullhd-enabled: false;

@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/form.sass";
@import "bulma/sass/elements/other.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/components/panel.sass";
@import "bulma/sass/layout/section.sass";

.fullwidth {
  width: 100%;
}
